{{> partials/header}}
<!-- End of Topbar ################################## -->
<!-- Modal -->
<div class="modal fade" id="Modal-cadastrar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Novo Pagamento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formPagamento" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Fornecedor</label>
                        <select class="form-control" name="idFornecedor" id="fornecedor">
                            <option>--</option>
                        </select>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputAddress2">Valor</label>
                            <input type="text" class="form-control" name="valor" id="valor">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleFormControlSelect1">Tipo</label>
                            <select class="form-control" name="idTipo" id="optionsTipo">
                                <option value="">--</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputAddress2">Vencimento</label>
                            <input type="date" class="form-control" name="vencimento" id="vencimento">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="exampleFormControlSelect1">Pagamento Quitado?</label>
                            <select class="form-control" name="status" id="status">
                                <option value="A" selected>Não</option>
                                <option value="P">Sim</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="exampleFormControlSelect1">Recorrência?</label>
                            <select class="form-control" name="status" id="status">
                                <option value="A" selected>Não</option>
                                <option value="P">Sim</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Descrição</label>
                        <textarea class="form-control" name="descricao" id="descricao" rows="3"></textarea>
                    </div>
                    <div class="form-row" id="anexo-comprovante" type="hidden">
                        <div class="form-group col-md-12">
                            <label for="inputZip"><b>Anexar Comprovante:</b></label>
                            <input type="file" class="form-control-file" name="fileInput" id="anexoComprovante"
                                accept=".pdf,.png,.jpg,.jpeg">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="formPagamento" class="btn btn-primary btnSalvar">Salvar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Editar -->
<div class="modal fade" id="Modal-editar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Pagamento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formContaEdit">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Fornecedor</label>
                        <select class="form-control" name="idFornecedor" id="fornecedorEdit">

                        </select>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputAddress2">Valor</label>
                            <input type="text" class="form-control" name="valor" id="valorEdit">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleFormControlSelect1">Tipo</label>
                            <select class="form-control" name="idTipo" id="tipoDespesa">

                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputAddress2">Vencimento</label>
                            <input type="date" class="form-control" name="vencimento" id="vencimentoEdit">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleFormControlSelect1">Pagamento Quitado?</label>
                            <select class="form-control" name="status" id="statusPagamentoEdit">
                                <option value="A">Não</option>
                                <option value="P">Sim</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Descrição</label>
                        <textarea class="form-control" name="descricao" id="descricaoEdit" rows="3"></textarea>
                        <input type="hidden" class="form-control" name="id" id="idConta">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="formContaEdit" class="btn btn-primary btnSalvar">Salvar</button>
            </div>
        </div>
    </div>
</div>

<!-- Begin Page Content -->
<div class="container-fluid">
    <button type="button" class="btn btn-secondary mb-2" data-toggle="collapse" data-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">Filtros <i class="fa fa-filter" style="font-size: 14px;"
            aria-hidden="true"></i></button>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <form id="formFiltro">
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="inputCity">Vencimento (Início)</label>
                        <input type="date" class="form-control" name="vencimentoIni" id="vencimentoInicio">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Vencimento (Fim)</label>
                        <input type="date" class="form-control" name="vencimentoFim" id="vencimentoFim">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="exampleFormControlSelect1">Tipo</label>
                        <select class="form-control" name="tipo" id="tipo">
                            <option value="">--</option>

                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Valor (Min)</label>
                        <input type="number" class="form-control" name="valorMin" id="valorMin">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Valor (Max)</label>
                        <input type="number" class="form-control" name="valorMax" id="valorMax">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputState">Status</label>
                        <select id="inputState" name="status" id="statusFilt" class="form-control">
                            <option value="">--</option>
                            <option value="A">Em aberto</option>
                            <option value="P">Pago</option>
                        </select>
                    </div>
                </div>
                <button type="submit" form="formFiltro" id="botaofiltro" class="btn btn-primary">Filtrar</button>
            </form>
        </div>
    </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-gradient-secondary"><b>Contas a Pagar</b></h6>
            <div class="d-flex">
                <button type="button" class="btn btn-secondary" id="btnDownloadCSV" title="Baixar relatório">
                    <i class="fas fa-download"></i>
                </button>
                <button type="button" class="btn btn-secondary ml-3" data-toggle="modal" title="Adicionar Pagamento"
                    data-target="#Modal-cadastrar">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>


        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="">
                    <thead>
                        <tr>
                            <th>Fornecedor</th>
                            <th>CNPJ</th>
                            <th>Vencimento</th>
                            <th>Valor</th>
                            <th>Status</th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Fornecedor</th>
                            <th>CNPJ</th>
                            <th>Vencimento</th>
                            <th>Valor</th>
                            <th>Status</th>
                            <th class="text-center"></th>
                        </tr>
                    </tfoot>
                    <tbody id="contas">

                    </tbody>
                </table>
            </div>
            <div id="loading" class="text-center">
                <div class="spinner-grow" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid-->

</div>

<!-- Delete Modal-->
<div class="modal fade" id="deletModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tem certeza que deseja excluir?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body delete-cliente">
                <p class="nome-fornecedor"></p>
                <p class="cnpj-fornecedor"></p>
                <p class="vencimento-conta"></p>
                <p class="valor-conta"></p>
                <form id="deleteConta">
                    <input type="hidden" class="form-control" name="id" id="idContaDelete" value="" required>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <button type="submit" form="deleteConta" class="btn btn-danger btnSalvar">Excluir</button>
            </div>
        </div>
    </div>
</div>

<!-- Baixar Modal-->
<div class="modal fade" id="baixaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tem certeza que deseja pagar?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="nome-fornecedor"></p>
                <p class="cnpj-fornecedor"></p>
                <p class="vencimento-conta"></p>
                <p class="valor-conta"></p>
                <form id="baixarConta" enctype="multipart/form-data">
                    <input type="hidden" class="form-control" name="id" id="idContaBaixar" value="" required>
                    <label for="inputZip"><b>Anexar Comprovante:</b></label>
                    <input type="file" class="form-control-file" name="fileInput" id="comprovante"
                        accept=".pdf,.png,.jpg,.jpeg">
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <button type="submit" form="baixarConta" class="btn btn-primary btnSalvar">Pagar</button>
            </div>
        </div>
    </div>
</div>

<script>
    function listTipos() {
        $.ajax({
            type: 'GET',
            url: `tipos-pagamento-list`,
            dataType: 'json',
            success: function (data) {
                console.log(data)
                let list = ''
                for (options of data) {

                    list += ` <option value="${options.id}">${options.descricao}</option>`
                }

                $("#optionsTipo").append(list)
                $("#tipo").append(list)
                $("#tipoDespesa").append(list)
            },
            error: function (error) {
                console.error(error);
            }

        })
    };

    function limparInput() {

        $('#fornecedor').val();
        $('#valor').val();
        $('#optionsTipo').val();
        $('#vencimento').val();
        $('#statusPagamentoEdit').val();
        $('#status').val();
        $('#descricao').val();

    }

    function listContas(filter = null) {
        $("#loading").prop("hidden", false);
        $.ajax({
            type: 'POST',
            url: `/contas-pagar-list`,
            data: filter,
            dataType: 'json',
            success: function (data) {
                console.log(data)


                let list = ''
                for (contas of data) {
                    let data = contas.vencimento.split('T')[0]
                    let dataForm = data.split('-');
                    let dia = dataForm[2];
                    let mes = dataForm[1];
                    let ano = dataForm[0];

                    let divContent = '';
                    let divDownload = '';
                    if (contas.status == 'A') {
                        divContent = `
                            <a data-id="${contas.id}" data-cnpj="${contas.cnpj}" data-descricao="${contas.descricao}" data-fornecedor="${contas.fornecedor}" data-idFornecedor="${contas.idFornecedor}" data-idTipo="${contas.idTipo}" data-nomeTipo="${contas.nomeTipo}" data-status="${contas.status}" data-valor="${contas.valor}" data-vencimento="${contas.vencimento}" class="dropdown-item mb-1" data-toggle="modal" id="baixar" data-target="#baixaModal"><i class='fas fa-donate' style='font-size:13px'></i><b>  Pagar</b></a>
                            <hr class="sidebar-divider my-0">
                            `;
                    }

                    if (contas.status == 'P' && contas.comprovante && contas.extensao) {
                        divDownload = `
                            <a class="dropdown-item mb-1" href="/download/${contas.comprovante}/${contas.extensao}"><i class='fas fa-file-download' style='font-size:13px'></i><b>  Comprovante</b></a>
                            <hr class="sidebar-divider my-0">
                            `;
                    }

                    list += `
                    <tr>
                        <td>${contas.fornecedor}</td>
                        <td>${contas.cnpj}</td>
                        <td >${dia}/${mes}/${ano}</td>
                        <td>R$${contas.valor}</td>
                        <td>${contas.status == 'A' ? 'Em aberto' : 'Pago'}</td>
                        <td class="text-center">
                            <div class="dropdown no-arrow">
                                <a data-id-check="${contas.id}" class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-black-400"></i>
                                </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                        ${divContent}
                                        ${divDownload}
                                        <a data-id="${contas.id}" data-cnpj="${contas.cnpj}" data-descricao="${contas.descricao}" data-fornecedor="${contas.fornecedor}" data-idFornecedor="${contas.idFornecedor}" data-idTipo="${contas.idTipo}" data-nomeTipo="${contas.nomeTipo}"   data-status="${contas.status}" data-valor="${contas.valor}" data-vencimento="${contas.vencimento}" class="dropdown-item mb-1 mt-1" data-toggle="modal" id="editar" data-target="#Modal-editar"><i class='fas fa-pen' style='font-size:13px'></i><b>  Editar</b></a>
                                        <hr class="sidebar-divider my-0">
                                        <a data-id-delete="${contas.id}" id="excluir" data-fornecedor="${contas.fornecedor}" data-cnpj="${contas.cnpj}" data-vencimento="${contas.vencimento}" data-valor="${contas.valor}" class="dropdown-item mt-1" data-toggle="modal" style="color:#ff1212" data-target="#deletModal"><i class='fas fa-trash' style='font-size:13px'></i> <b>Excluir</b></a>
                                    </div>
                            </div>
                        </td>
                    </tr>`
                }

                $("#contas").empty();
                $("#contas").html(list)
                $("#loading").prop("hidden", true);

                $('#dataTable').DataTable();

                limparInput();

            },
            error: function () {

                $("#loading").prop("hidden", true);

            }

        })
    }

    function listContasCSV(filter = null) {
        $.ajax({
            type: 'POST',
            url: `/contas-pagar-csv`,
            data: filter,
            dataType: 'json',
            success: function (data) {
                console.log(data);

            }

        })
    }

    function listFornecedores() {
        $.ajax({
            type: 'GET',
            url: `/fornecedores-list`,
            dataType: 'json',
            success: function (data) {
                console.log(data)
                let list = ''
                for (options of data) {

                    list += ` <option value="${options.id}">${options.nome}</option>`
                }

                $("#fornecedor").append(list)
                $("#fornecedorEdit").append(list)
            },
            error: function (error) {
                console.error(error);
            }

        })
    }

    $('#formFiltro').on('submit', function (e) {
        e.preventDefault();
        let formData = new FormData($("#formFiltro").get(0));

        const data = {};
        formData.forEach((val, key) => {
            data[key] = val;
        });

        listContas(data)
        listContasCSV(data)
    });

    $('#btnDownloadCSV').on('click', function () {
        window.location.href = '/pagar-CSV';
    });

    $('#formPagamento').on("submit", function (e) {
        $(".btnSalvar").prop("disabled", true);
        e.preventDefault();
        let formData = new FormData($("#formPagamento").get(0));

        const data = {};
        formData.forEach((val, key) => {
            data[key] = val;
        });

        $.ajax({
            url: '/nova-conta-pagar',
            method: 'POST',
            dataType: 'json',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                Swal.fire({
                    title: response.message,
                    icon: 'success',
                    showConfirmButton: false,
                    titleFontSize: '15px'
                })
                setTimeout(function () {
                    location.reload();
                }, 1500);
            }, error: function (e) {
                console.log(e);
            }

        });
    });

    $('#formContaEdit').on("submit", function (e) {
        $(".btnSalvar").prop("disabled", true);
        e.preventDefault();
        let formData = new FormData($("#formContaEdit").get(0));

        const data = {};
        formData.forEach((val, key) => {
            data[key] = val;
        });

        $.ajax({

            url: '/edit-conta-pagar',
            method: 'POST',
            dataType: 'json',
            data,
            success: function (response) {
                Swal.fire({
                    title: response.message,
                    icon: 'success',
                    showConfirmButton: false,
                    titleFontSize: '15px'
                })
                setTimeout(function () {
                    location.reload();
                }, 1500);
            }, error: function (e) {
                console.log(e);
            }

        });
    });

    $('#deleteConta').on("submit", function (e) {
        $(".btnSalvar").prop("disabled", true);
        e.preventDefault();
        let formData = new FormData($("#deleteConta").get(0));

        const data = {};
        formData.forEach((val, key) => {
            data[key] = val;
        });

        $.ajax({

            url: '/delete-conta-pagar',
            method: 'POST',
            dataType: 'json',
            data,
            success: function (response) {
                Swal.fire({
                    title: response.message,
                    icon: 'success',
                    showConfirmButton: false,
                    titleFontSize: '15px'
                })
                setTimeout(function () {
                    location.reload();
                }, 1500);
            }, error: function (e) {
                console.log(e);
            }

        });
    });

    $('#baixarConta').on("submit", function (e) {
        $(".btnSalvar").prop("disabled", true);
        e.preventDefault();
        let formData = new FormData(this);

        $.ajax({

            url: '/baixar-conta-pagar',
            method: 'POST',
            dataType: 'json',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                Swal.fire({
                    title: response.message,
                    icon: 'success',
                    showConfirmButton: false,
                    titleFontSize: '15px'
                })
                setTimeout(function () {
                    location.reload();
                }, 1500);
            }, error: function (e) {
                console.log(e);
            }

        });
    });

    $("#contas").on('click', '#editar', function () {

        let id = $(this).data('id');
        let descricao = $(this).data('descricao');
        let idFornecedor = $(this).data('idfornecedor');
        let idTipo = $(this).data('idtipo');
        let status = $(this).data('status');
        let valor = $(this).data('valor');
        let vencimento = $(this).data('vencimento');
        let pagou = $('#status').val();

        $('#fornecedorEdit').val(idFornecedor);
        $('#valorEdit').val(valor);
        $('#tipoDespesa').val(idTipo);
        $('#vencimentoEdit').val(vencimento.split('T')[0]);
        $('#statusPagamentoEdit').val(status);
        $('#descricaoEdit').val(descricao);
        $('#idConta').val(id);

    });

    $("#contas").on('click', '#excluir', function () {

        let fornecedor = $(this).data('fornecedor')
        let cnpj = $(this).data('cnpj')
        let valor = $(this).data('valor')
        let vencimento = $(this).data('vencimento')
        let idConta = $(this).data('id-delete')

        let data = vencimento.split('T')[0]
        let dataForm = data.split('-');
        let dia = dataForm[2];
        let mes = dataForm[1];
        let ano = dataForm[0];

        $('#idContaDelete').val(idConta);

        $('.nome-fornecedor').html('<b>Fornecedor:</b> ' + fornecedor + '.');
        $('.cnpj-fornecedor').html('<b>CNPJ:</b> ' + cnpj + '.');
        $('.vencimento-conta').html('<b>Vencimento:</b> ' + dia + '/' + mes + '/' + ano + '.');
        $('.valor-conta').html('<b>Valor:</b> ' + valor + '.');

    });

    $("#contas").on('click', '#baixar', function () {

        let fornecedor = $(this).data('fornecedor')
        let cnpj = $(this).data('cnpj')
        let valor = $(this).data('valor')
        let vencimento = $(this).data('vencimento')
        let idConta = $(this).data('id')

        let data = vencimento.split('T')[0]
        let dataForm = data.split('-');
        let dia = dataForm[2];
        let mes = dataForm[1];
        let ano = dataForm[0];

        $('#idContaBaixar').val(idConta);

        $('.nome-fornecedor').html('<b>Fornecedor:</b> ' + fornecedor + '.');
        $('.cnpj-fornecedor').html('<b>CNPJ:</b> ' + cnpj + '.');
        $('.vencimento-conta').html('<b>Vencimento:</b> ' + dia + '/' + mes + '/' + ano + '.');
        $('.valor-conta').html('<b>Valor:</b> ' + valor + '.');

    });

    $('input[type="number"]').on('input', function () {
        var inputValue = parseFloat($(this).val());

        if (inputValue < 0) {
            $(this).val(0);
        }
    });

    $('#valor').inputmask('currency', {
        radixPoint: ',', // Ponto decimal
        groupSeparator: '.', // Separador de milhares
        allowMinus: false, // Permitir valores negativos (true) ou não (false)
        digits: 2, // Número de casas decimais
        autoGroup: true, // Formatar automaticamente enquanto o usuário digita
        rightAlign: false, // Alinhar à direita
        unmaskAsNumber: true, // Retornar apenas o número ao obter o valor do campo
    });

    $('#valorEdit').inputmask('currency', {
        radixPoint: ',', // Ponto decimal
        groupSeparator: '.', // Separador de milhares
        allowMinus: false, // Permitir valores negativos (true) ou não (false)
        digits: 2, // Número de casas decimais
        autoGroup: true, // Formatar automaticamente enquanto o usuário digita
        rightAlign: false, // Alinhar à direita
        unmaskAsNumber: true, // Retornar apenas o número ao obter o valor do campo
    });

    $("#anexo-comprovante").prop("hidden", true);
    $('#status').change(function () {
        let pagou = $(this).val();
        if (pagou === 'P') {
            $("#anexo-comprovante").prop("hidden", false);
        } else {
            $("#anexo-comprovante").prop("hidden", true);
        }
    });




    listFornecedores();
    listContas();
    listTipos();

</script>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<!-- <script src="vendor/jquery/jquery.min.js"></script> -->
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="vendor/datatables/jquery.dataTables.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.js"></script>

<!-- Page level plugins -->

{{> partials/footer}}