{{> partials/header}}
<!-- End of Topbar ################################## -->
<!-- Modal -->
<div class="modal fade" id="Modal-cadastrar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Novo Pagamento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formPagamento">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Fornecedor</label>
                        <select class="form-control" name="idFornecedor" id="fornecedor">

                        </select>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputAddress2">Valor</label>
                            <input type="text" class="form-control" name="valor" id="valor">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleFormControlSelect1">Tipo</label>
                            <select class="form-control" name="idTipo" id="optionsTipo">

                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputAddress2">Vencimento</label>
                            <input type="date" class="form-control" name="vencimento" id="vencimento">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleFormControlSelect1">Pagamento Quitado?</label>
                            <select class="form-control" name="status" id="status">
                                <option value="A">Não</option>
                                <option value="P">Sim</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Descrição</label>
                        <textarea class="form-control" name="descricao" id="descricao" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="formPagamento" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Editar -->
<div class="modal fade" id="Modal-editar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Pagamento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Fornecedor</label>
                        <select class="form-control" name="fornecedor" id="fornecedorEdit">

                        </select>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputAddress2">Valor</label>
                            <input type="text" class="form-control" name="valor" id="valorEdit">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleFormControlSelect1">Tipo</label>
                            <select class="form-control" name="tipoDespesa" id="tipoDespesa">

                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputAddress2">Vencimento</label>
                            <input type="date" class="form-control" name="vencimento" id="vencimento">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleFormControlSelect1">Pagamento Quitado?</label>
                            <select class="form-control" name="statusPagamento" id="statusPagamento">
                                <option>Não</option>
                                <option>Sim</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Descrição</label>
                        <textarea class="form-control" name="descricao" id="descricao" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>

<!-- Begin Page Content -->
<div class="container-fluid">
    <button type="button" class="btn btn-secondary mb-2" data-toggle="collapse" data-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">Filtros <i class="fa fa-filter" style="font-size: 14px;"
            aria-hidden="true"></i></button>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="inputCity">Vencimento (Início)</label>
                        <input type="date" class="form-control" name="vencimentoInicio" id="vencimentoInicio">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Vencimento (Fim)</label>
                        <input type="date" class="form-control" id="vencimentoFim">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="exampleFormControlSelect1">Tipo</label>
                        <select class="form-control" name="tipo" id="tipo">
                            <option>--</option>
    
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Valor (Min)</label>
                        <input type="number" class="form-control" name="valorMin" id="valorMin">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Valor (Max)</label>
                        <input type="number" class="form-control" name="valorMax" id="valorMax">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputState">Status</label>
                        <select id="inputState" name="status" id="status" class="form-control">
                            <option selected>Em aberto</option>
                            <option>Recebido</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Filtrar</button>
            </form>
        </div>
    </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-gradient-secondary"><b>Contas a Pagar</b></h6>
            <button type="button" class="btn btn-secondary" data-toggle="modal" title="Adicionar Pagamento"
                data-target="#Modal-cadastrar">
                <i class="fas fa-plus"></i>
            </button>
        </div>
        {{! <div class="row justify-content-end pr-3 mt-1">
            <a href="#" class="btn btn-danger btn-circle mx-1" title="Excluir" data-toggle="modal"
                data-target="#deletModal">
                <i class="fas fa-trash"></i>
            </a>
            <a href="#" class="btn btn-success btn-circle mx-1" title="Dar baixa" data-toggle="modal"
                data-target="#baixaModal">
                <i class="fa fa-check-square" aria-hidden="true"></i>
            </a>
        </div> }}

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="">
                    <thead>
                        <tr>
                            <th>Fornecedor</th>
                            <th>CNPJ</th>
                            <th>Vencimento</th>
                            <th>Valor</th>
                            <th>Status</th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Fornecedor</th>
                            <th>CNPJ</th>
                            <th>Vencimento</th>
                            <th>Valor</th>
                            <th>Status</th>
                            <th class="text-center"></th>
                        </tr>
                    </tfoot>
                    <tbody id="contas">

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid-->

</div>

<!-- Delete Modal-->
<div class="modal fade" id="deletModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tem certeza que deseja excluir?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Clique em "Excluir" para deletar os registros selecionados.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-danger" >Excluir</a>
            </div>
        </div>
    </div>
</div>

<!-- Baixar Modal-->
<div class="modal fade" id="baixaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Atenção!</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Clique em "Baixar" para dar baixa nos registros selecionados.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-success" href="login.html">Baixar</a>
            </div>
        </div>
    </div>
</div>

<script>
    function listTipos() {
        $.ajax({
            type: 'GET',
            url: `tipos-pagamento-list`,
            dataType: 'json',
            success: function (data) {
                console.log(data)
                let list = ''
                for (options of data) {

                    list += ` <option value="${options.id}">${options.descricao}</option>`
                }

                $("#optionsTipo").append(list)
                $("#tipo").append(list)
                $("#tipoDespesa").append(list)
            }

        })

    }

    function listContas() {
        $.ajax({
            type: 'GET',
            url: `/contas-pagar-list`,
            dataType: 'json',
            success: function (data) {
                console.log(data)
                let list = ''
                for (contas of data) {
                let data = contas.vencimento.split('T')[0]
                  let dataForm = data.split('-');
                  let dia = dataForm[2];
                  let mes = dataForm[1];
                  let ano = dataForm[0];

                    list += `
                    <tr>
                        <td>${contas.fornecedor}</td>
                        <td>${contas.cnpj}</td>
                        <td>${dia}/${mes}/${ano}</td>
                        <td>${contas.valor}</td>
                        <td>${contas.status == 'A' ? 'Em aberto' : 'Pago'}</td>
                        <td class="text-center">
                            <div class="dropdown no-arrow">
                                <a data-id-check="${contas.id}" class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-black-400"></i>
                                </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                        <a data-id="${contas.id}" data-nome="${contas.nome}" data-cnpj="${contas.cpfcnpj}" data-estado="${contas.estado}" data-cidade="${contas.cidade}" data-bairro="${contas.bairro}" data-rua="${contas.rua}" data-numero="${contas.numero}" data-complemento="${contas.complemento}" data-telefone="${contas.telefone}" data-email="${contas.email}" class="dropdown-item mb-1" data-toggle="modal" id="editar" data-target="#Modal-editar"><b>Editar</b></a>
                                        <hr class="sidebar-divider my-0">
                                        <a data-id-delete="${contas.id}" id="excluir" data-nome-delete="${contas.nome}" data-cnpj-delete="${contas.cpfcnpj}" class="dropdown-item mt-1" data-toggle="modal" style="color:#ff1212" data-target="#deletModal"><b>Excluir</b></a>
                                    </div>
                            </div>
                        </td>
                    </tr>`
                }

                $("#contas").append(list)

            }

        })
    }

    function listFornecedores() {
        $.ajax({
            type: 'GET',
            url: `/fornecedores-list`,
            dataType: 'json',
            success: function (data) {
                console.log(data)
                let list = ''
                for (options of data) {

                    list += ` <option value="${options.id}">${options.nome}</option>`
                }

                $("#fornecedor").append(list)
                $("#fornecedorEdit").append(list)
            }

        })
    }


    $('#formPagamento').on("submit", function (e) {

        e.preventDefault();
        let formData = new FormData($("#formPagamento").get(0));

        const data = {};
        formData.forEach((val, key) => {
            data[key] = val;
        });

        $.ajax({
            url: '/nova-conta-pagar',
            method: 'POST',
            dataType: 'json',
            data,
            success: function (response) {
                alert('Salvo com sucesso!')
            }, error: function (e) {
                console.log(e);
            }

        });
    });
        

    listTipos();
    listFornecedores();
    listContas();
</script>
{{> partials/footer}}