{{> partials/header}}
<!-- End of Topbar ################################## -->
<!-- Modal -->
<div class="modal fade" id="Modal-cadastrar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Novo Recebimento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formRecebimento">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Cliente</label>
                        <select class="form-control" name="idCliente" id="cliente">
                            <option>--</option>
                        </select>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputAddress2">Valor</label>
                            <input type="text" class="form-control" name="valor" id="valor">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleFormControlSelect1">Tipo</label>
                            <select class="form-control" name="idTipo" id="optionsTipo">
                                <option value="">--</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputAddress2">Vencimento</label>
                            <input type="date" class="form-control" name="vencimento" id="vencimento">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleFormControlSelect1">Recebido?</label>
                            <select class="form-control" name="status" id="status">
                                <option value="A">Não</option>
                                <option value="R">Sim</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Descrição</label>
                        <textarea class="form-control" name="descricao" id="descricao" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="formRecebimento" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Editar -->
<div class="modal fade" id="Modal-editar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Recebimento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formContaEdit">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Cliente</label>
                        <select class="form-control" name="idCliente" id="clienteEdit">

                        </select>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputAddress2">Valor</label>
                            <input type="text" class="form-control" name="valor" id="valorEdit">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleFormControlSelect1">Tipo</label>
                            <select class="form-control" name="idTipo" id="tipoDespesa">

                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputAddress2">Vencimento</label>
                            <input type="date" class="form-control" name="vencimento" id="vencimentoEdit">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleFormControlSelect1">Recebido?</label>
                            <select class="form-control" name="status" id="statusRecebimentoEdit">
                                <option value="A">Não</option>
                                <option value="R">Sim</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Descrição</label>
                        <textarea class="form-control" name="descricao" id="descricaoEdit" rows="3"></textarea>
                        <input type="hidden" class="form-control" name="id" id="idConta">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="formContaEdit" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>

<!-- Begin Page Content -->
<div class="container-fluid">
    <button type="button" class="btn btn-secondary mb-2" data-toggle="collapse" data-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">Filtros <i class="fa fa-filter" style="font-size: 14px;"
            aria-hidden="true"></i></button>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <form id="formFiltro">
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="inputCity">Vencimento (Início)</label>
                        <input type="date" class="form-control" name="vencimentoIni" id="vencimentoInicio">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Vencimento (Fim)</label>
                        <input type="date" class="form-control" name="vencimentoFim" id="vencimentoFim">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="exampleFormControlSelect1">Tipo</label>
                        <select class="form-control" name="tipo" id="tipo">
                            <option value="">--</option>

                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Valor (Min)</label>
                        <input type="number" class="form-control" name="valorMin" id="valorMin">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Valor (Max)</label>
                        <input type="number" class="form-control" name="valorMax" id="valorMax">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputState">Status</label>
                        <select id="inputState" name="status" id="status" class="form-control">
                            <option value="">--</option>
                            <option value="A">Em aberto</option>
                            <option value="R">Pago</option>
                        </select>
                    </div>
                </div>
                <button type="submit" form="formFiltro" id="botaofiltro" class="btn btn-primary">Filtrar</button>
            </form>
        </div>
    </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-gradient-secondary"><b>Contas a Receber</b></h6>
            <button type="button" class="btn btn-secondary" data-toggle="modal" title="Adicionar Recebimento"
                data-target="#Modal-cadastrar">
                <i class="fas fa-plus"></i>
            </button>
        </div>
        {{! <div class="row justify-content-end pr-3 mt-1">
            <a href="#" class="btn btn-danger btn-circle mx-1" title="Excluir" data-toggle="modal"
                data-target="#deletModal">
                <i class="fas fa-trash"></i>
            </a>
            <a href="#" class="btn btn-success btn-circle mx-1" title="Dar baixa" data-toggle="modal"
                data-target="#baixaModal">
                <i class="fa fa-check-square" aria-hidden="true"></i>
            </a>
        </div> }}

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="">
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>CPF/CNPJ</th>
                            <th>Vencimento</th>
                            <th>Valor</th>
                            <th>Status</th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Cliente</th>
                            <th>CPF/CNPJ</th>
                            <th>Vencimento</th>
                            <th>Valor</th>
                            <th>Status</th>
                            <th class="text-center"></th>
                        </tr>
                    </tfoot>
                    <tbody id="contas">

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid-->

</div>

<!-- Delete Modal-->
<div class="modal fade" id="deletModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tem certeza que deseja excluir?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body delete-cliente">
                <p class="nome-cliente"></p>
                <p class="cnpj-cliente"></p>
                <p class="vencimento-conta"></p>
                <p class="valor-conta"></p>
                <form id="deleteConta">
                    <input type="hidden" class="form-control" name="id" id="idContaDelete" value="" required>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <button type="submit" form="deleteConta" class="btn btn-danger">Excluir</button>
            </div>
        </div>
    </div>
</div>

<!-- Baixar Modal-->
<div class="modal fade" id="baixaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tem certeza que deseja receber?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="nome-cliente"></p>
                <p class="cnpj-cliente"></p>
                <p class="vencimento-conta"></p>
                <p class="valor-conta"></p>
                <form id="baixarConta">
                    <input type="hidden" class="form-control" name="id" id="idContaBaixar" value="" required>
                    {{! <label for="inputZip"><b>Anexar Comprovante:</b></label>
                    <input type="file" class="form-control-file" name="comprovante" id="comprovante"> }}
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <button type="submit" form="baixarConta" class="btn btn-primary">Receber</button>
            </div>
        </div>
    </div>
</div>

<script>
    function listTipos() {
        $.ajax({
            type: 'GET',
            url: `/tipos-recebimento-list`,
            dataType: 'json',
            success: function (data) {
                console.log(data)
                let list = ''
                for (options of data) {

                    list += ` <option value="${options.id}">${options.descricao}</option>`
                }

                $("#optionsTipo").append(list)
                $("#tipo").append(list)
                $("#tipoDespesa").append(list)
            },
            error: function (error) {
                console.error(error);
            }

        })
    };

    function limparInput() {

        $('#cliente').val();
        $('#valor').val();
        $('#optionsTipo').val();
        $('#vencimento').val();
        $('#statusRecebimentoEdit').val();
        $('#status').val();
        $('#descricao').val();

    }

    function listContas(filter = null) {
        $.ajax({
            type: 'POST',
            url: `/contas-receber-list`,
            data: filter,
            dataType: 'json',
            success: function (data) {
                console.log(data)


                let list = ''
                for (contas of data) {
                    let data = contas.vencimento.split('T')[0]
                    let dataForm = data.split('-');
                    let dia = dataForm[2];
                    let mes = dataForm[1];
                    let ano = dataForm[0];

                    let divContent = '';
                    if (contas.status == 'A') {
                        divContent = `
                            <a data-id="${contas.id}" data-cnpj="${contas.cpfcnpj}" data-descricao="${contas.descricao}" data-cliente="${contas.cliente}" data-idCliente="${contas.idCliente}" data-idTipo="${contas.idTipo}" data-nomeTipo="${contas.nomeTipo}" data-status="${contas.status}" data-valor="${contas.valor}" data-vencimento="${contas.vencimento}" class="dropdown-item mb-1" data-toggle="modal" id="baixar" data-target="#baixaModal"><i class='fas fa-donate' style='font-size:13px'></i><b>  Receber</b></a>
                            <hr class="sidebar-divider my-0">
                            `;
                    }

                    list += `
                    <tr>
                        <td>${contas.cliente}</td>
                        <td>${contas.cpfcnpj}</td>
                        <td>${dia}/${mes}/${ano}</td>
                        <td>${contas.valor}</td>
                        <td>${contas.status == 'A' ? 'Em aberto' : 'Pago'}</td>
                        <td class="text-center">
                            <div class="dropdown no-arrow">
                                <a data-id-check="${contas.id}" class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-black-400"></i>
                                </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                        ${divContent}
                                        <a data-id="${contas.id}" data-cnpj="${contas.cpfcnpj}" data-descricao="${contas.descricao}" data-cliente="${contas.cliente}" data-idCliente="${contas.idCliente}" data-idTipo="${contas.idTipo}" data-nomeTipo="${contas.nomeTipo}"   data-status="${contas.status}" data-valor="${contas.valor}" data-vencimento="${contas.vencimento}" class="dropdown-item mb-1 mt-1" data-toggle="modal" id="editar" data-target="#Modal-editar"><i class='fas fa-pen' style='font-size:13px'></i><b>  Editar</b></a>
                                        <hr class="sidebar-divider my-0">
                                        <a data-id-delete="${contas.id}" id="excluir" data-cliente="${contas.cliente}" data-cnpj="${contas.cpfcnpj}" data-vencimento="${contas.vencimento}" data-valor="${contas.valor}" class="dropdown-item mt-1" data-toggle="modal" style="color:#ff1212" data-target="#deletModal"><i class='fas fa-trash' style='font-size:13px'></i> <b>Excluir</b></a>
                                    </div>
                            </div>
                        </td>
                    </tr>`
                }

                $("#contas").empty();

                $("#contas").html(list)

                limparInput();

            }

        })
    }

    function listClientes() {
        $.ajax({
            type: 'GET',
            url: `/clientes-list`,
            dataType: 'json',
            success: function (data) {
                console.log(data)
                let list = ''
                for (options of data) {

                    list += ` <option value="${options.id}">${options.nome}</option>`
                }

                $("#cliente").append(list)
                $("#clienteEdit").append(list)
            },
            error: function (error) {
                console.error(error);
            }

        })
    }

    $('#formFiltro').on('submit', function (e) {
        e.preventDefault();
        let formData = new FormData($("#formFiltro").get(0));

        const data = {};
        formData.forEach((val, key) => {
            data[key] = val;
        });

        listContas(data)
    });

    $('#formRecebimento').on("submit", function (e) {

        e.preventDefault();
        let formData = new FormData($("#formRecebimento").get(0));

        const data = {};
        formData.forEach((val, key) => {
            data[key] = val;
        });

        $.ajax({
            url: '/nova-conta-receber',
            method: 'POST',
            dataType: 'json',
            data,
            success: function (response) {
                alert('Salvo com sucesso!')
                location.reload();
            }, error: function (e) {
                console.log(e);
            }

        });
    });

    $('#formContaEdit').on("submit", function (e) {

        e.preventDefault();
        let formData = new FormData($("#formContaEdit").get(0));

        const data = {};
        formData.forEach((val, key) => {
            data[key] = val;
        });

        $.ajax({

            url: '/edit-conta-receber',
            method: 'POST',
            dataType: 'json',
            data,
            success: function (response) {
                alert(response.message)
                location.reload();
            }, error: function (e) {
                console.log(e);
            }

        });
    });

    $('#deleteConta').on("submit", function (e) {

        e.preventDefault();
        let formData = new FormData($("#deleteConta").get(0));

        const data = {};
        formData.forEach((val, key) => {
            data[key] = val;
        });

        $.ajax({

            url: '/delete-conta-receber',
            method: 'POST',
            dataType: 'json',
            data,
            success: function (response) {
                alert(response.message)
                location.reload();
            }, error: function (e) {
                console.log(e);
            }

        });
    });

    $('#baixarConta').on("submit", function (e) {

        e.preventDefault();
        let formData = new FormData($("#baixarConta").get(0));

        const data = {};
        formData.forEach((val, key) => {
            data[key] = val;
        });

        $.ajax({

            url: '/baixar-conta-receber',
            method: 'POST',
            dataType: 'json',
            data,
            success: function (response) {
                alert(response.message)
                location.reload();
            }, error: function (e) {
                console.log(e);
            }

        });
    });

    $("#contas").on('click', '#editar', function () {

        let id = $(this).data('id');
        let descricao = $(this).data('descricao');
        let idCliente = $(this).data('idcliente');
        let idTipo = $(this).data('idtipo');
        let status = $(this).data('status');
        let valor = $(this).data('valor');
        let vencimento = $(this).data('vencimento');

        $('#clienteEdit').val(idCliente);
        $('#valorEdit').val(valor);
        $('#tipoDespesa').val(idTipo);
        $('#vencimentoEdit').val(vencimento.split('T')[0]);
        $('#statusRecebimentoEdit').val(status);
        $('#descricaoEdit').val(descricao);
        $('#idConta').val(id);

    });

    $("#contas").on('click', '#excluir', function () {

        let cliente = $(this).data('cliente')
        let cnpj = $(this).data('cnpj')
        let valor = $(this).data('valor')
        let vencimento = $(this).data('vencimento')
        let idConta = $(this).data('id-delete')

        let data = vencimento.split('T')[0]
        let dataForm = data.split('-');
        let dia = dataForm[2];
        let mes = dataForm[1];
        let ano = dataForm[0];

        $('#idContaDelete').val(idConta);

        $('.nome-cliente').html('<b>Cliente:</b> ' + cliente + '.');
        $('.cnpj-cliente').html('<b>CPF/CNPJ:</b> ' + cnpj + '.');
        $('.vencimento-conta').html('<b>Vencimento:</b> ' + dia + '/' + mes + '/' + ano + '.');
        $('.valor-conta').html('<b>Valor:</b> ' + valor + '.');

    });

    $("#contas").on('click', '#baixar', function () {

        let cliente = $(this).data('cliente')
        let cnpj = $(this).data('cnpj')
        let valor = $(this).data('valor')
        let vencimento = $(this).data('vencimento')
        let idConta = $(this).data('id')

        let data = vencimento.split('T')[0]
        let dataForm = data.split('-');
        let dia = dataForm[2];
        let mes = dataForm[1];
        let ano = dataForm[0];

        $('#idContaBaixar').val(idConta);

        $('.nome-cliente').html('<b>Cliente:</b> ' + cliente + '.');
        $('.cnpj-cliente').html('<b>CPF/CNPJ:</b> ' + cnpj + '.');
        $('.vencimento-conta').html('<b>Vencimento:</b> ' + dia + '/' + mes + '/' + ano + '.');
        $('.valor-conta').html('<b>Valor:</b> ' + valor + '.');

    });

    $('input[type="number"]').on('input', function () {
        var inputValue = parseFloat($(this).val());

        if (inputValue < 0) {
            $(this).val(0);
        }
    });

    listClientes();
    listContas();
    listTipos();
</script>
{{> partials/footer}}